img {
  width: 300px;
}



html {
  scroll-behavior: smooth;
}

#root {
  font-family: Futura;
  background-image: url('/Users/admin/Desktop/Actualize/JAVA APPS/blog-frontend/src/assets/squidfingers.jpg');
}